*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#root
{
  display: flex;
  width:100%;
  min-height:100vh;
  justify-content: center;
  align-items: center;
}

.app
{
  flex-basis:200px;
}
p{
  opacity: .5;
}
h1{
  font-weight: 500;
}
img 
{
  width:100%;
  border-radius:2em;
}
.userName
{
  margin-top:1em;
  color:blue;
}
.location, .bloodGroup, .age
{
  margin-top:1em;
}